@import "tailwindcss";

:root {

  --color-primary: #275E80;
  --color-mid: #3C87A9;
  --color-warm: #F9EAE3;
  --color-soft: #F2F2F2;
}

@theme {
  --color-primary: #275E80;
  --color-mid: #3C87A9;
  --color-warm: #F9EAE3;
  --color-soft: #F2F2F2;
}

body {
  background-color: var(--color-warm);
  font-family: 'Poppins', sans-serif;
}