@import "tailwindcss";

:root {

  --color-primary: #275E80;
  --color-mid: #3C87A9;
  --color-warm: #F9EAE3;
  --color-soft: #F2F2F2;
}

@theme {
  --color-primary: #275E80;
  --color-mid: #3C87A9;
  --color-warm: #F9EAE3;
  --color-soft: #F2F2F2;
}

body {
  background-color: var(--color-warm);
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .animate-slide-in-right {
    animation: slide-in-right 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .animate-slide-out-right {
    animation: slide-out-right 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}
